header,footer,section,article {
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
    
}
a , Link {
    text-decoration: none
    
}
.border {
    color: white;
    transform: scale(1.2);
    border-bottom: 1px solid;

    transition: all 1s;
}